/* Here is a comment */
.521296 { color: rgb(82, 18, 150) }
.8a1fac { color: rgb(138, 31, 172) }
.d4864a { color: rgb(212, 134, 74) }
.ebdb5e { color: rgb(235, 219, 94) }

.top-header { color: #ffffFF; }
.content-text { color: #f00; }
.bg-leftnav { background-color: #f0f; }
.bg-column { background-color: #FF0000FF; }